:root {
    --background: #f8f9fa;
    --background-details: #c2c1c1;
    --container: #2c3e50;
    --container-highlight: #0c0c0c40;
    --container-color: #ffffff;
    --border: #cbd5e0;
    --border-hover: #2c3e50;
    --button: #8bc34a;
    --button-hover: #7cb342;
    --right: #8bc34a;
    --wrong: #c34a4a;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-color: #333;
    --number-family: 'Courier New', Courier, monospace;

    font-family: var(--font-family);
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0 0 90px 0;
    background-image:
        linear-gradient(var(--background-details) 1.5px, transparent 1.5px),
        linear-gradient(to right, var(--background-details) 1.5px, var(--background) 1.5px);
    background-size: 30px 30px;
}

header {
    color: var(--container-color);
    background-color: var(--container);
    text-align: center;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.1rem;
    box-shadow: 0 2px 10px var(--font-color);
    z-index: 1;
}

header > #ip {
    background-color: var(--container-highlight);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--container-highlight);
    font-weight: bold;
    font-family: var(--number-family);
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 40px auto;
    padding: 20px;
    gap: 30px;
    background-color: var(--background);
    border-radius: 5px;
    border: 2px solid var(--container);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.container .input {
    position: relative;
    flex: 1;
    min-width: 200px;
}

.input > label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--background);
    padding: 0px 5px;
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--container);
    pointer-events: none;
}

.input > input {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    font-family: var(--number-family);
    border: 2px solid var(--border);
    border-radius: 5px;
    background: transparent;
    font-size: 1.1rem;
    letter-spacing: 1px;
    outline: none;
}

.input > input:focus {
    border: 2px solid var(--border-hover);
}

.input > input.right {
    border: 2px solid var(--right);
}

.input > input.wrong {
    border: 2px solid var(--wrong);
}

.reveal {
    background-color: var(--button);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--container-color);
    font-size: 1rem;
    transition: background-color .2s, transform .2s;
    gap: 10px;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 16px;
}

.reveal:active {
    transform: scale(0.98);
}

.reveal > svg {
    fill: var(--container-color);
    width: 22px;
}

.reveal:hover {
    background-color: var(--button-hover);
}

a {
    color: var(--container-color);
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container);
    color: var(--container-color);
    width: 100%;
    box-shadow: 0 -2px 10px var(--font-color);
    font-size: 1rem;
    padding: 30px 0;
    z-index: 1;
}

footer > p {
    margin: 0;
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 0px;
    }

    main {
        border-radius: 0;
        border: none;
        border-top: 2px solid var(--container);
        border-bottom: 2px solid var(--container);
    }

    .reveal {
        width: 100%;
        justify-content: center;
    }
}
