:root {
    --background: rgb(24, 24, 24);
    --element: rgb(18, 18, 18);
    --color: rgb(240, 240, 240);

    font-family: monospace;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    color: var(--color);
    background-color: var(--element);
    padding: 13px 175px;
    border-radius: 10px;
    border: 1px solid var(--color);
    margin-top: 30px;
    font-size: larger;
    text-align: center;
}

header > div {
    display: flex;
    justify-content: space-around;
}

main {
    color: var(--color);
    background-color: var(--element);
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid var(--color);
    margin-top: 30px;
    font-size: larger;
    text-align: center;
    height: 40vh;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color);
    font-size: large;
    text-align: center;
    padding: 0;
    color: var(--color);
    width: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    color: var(--color);
    font-size: large;
    width: 100%;
    height: 6%;
    text-align: center;
}

a {
    color: var(--color);
}

#ip, #cidr {
    font-weight: bolder;
    font-size: x-large;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#reset, #restart {
    font-size: large;
    font-weight: bolder;
    color: var(--color);
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--background);
}

#reset:hover, #restart:hover {
    filter: blur(0.25px);
}

#reset {
    background-color: rgb(194, 20, 20);
}

#reset:hover {
    background-color: rgb(252, 20, 20);
}

#restart {
    background-color: rgb(139, 0, 139);
}

#restart:hover {
    background-color: rgb(214, 0, 214);
}

#reset > img, #restart > img {
    width: 20px;
    padding-right: 10px;
}

.input.right {
    color: greenyellow;
}

.input.wrong {
    color: red
}

.reveal-btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15%;
}

.container > label {
    width: 200px;
    font-weight: 600;
    font-size: larger;
    text-align: left;
    text-decoration: underline;
}

.container > .inputs {
    width: 500px;
}
